
<div style="margin-bottom: 50px;" class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito': 'estadoNoFavorito'">
    <div class="card-img">
        <img src="{{destino.f}}" alt="Imagen">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h1>{{destino.nom}}</h1>
        <h1>Cedula: {{destino.ced}}</h1>
        <p>Correo: {{destino.cor}}</p>
        <p>Telefono: {{destino.tel}}</p>
        <p>Habilidades</p>
        <ul>
            <li *ngFor="let s of destino.descripcion">
                <span [ngSwitch]="s">
                    <i *ngSwitchDefault>{{s}}</i>
                    <i *ngSwitchCase="'Veloz'" style="color:brown">{{s}}</i>
                </span>
            </li>
        </ul>
        <DIV>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
            &nbsp;
            {{destino.votes}}
        </DIV>
    </div>
    <div class="card-footer">
        <a style="margin-top: 10px;" href="#" class="btn-card" (click)="ir()"  appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
            <span *ngIf="destino.selected == true" >
                <span ngNonBindable>{{Mejor Jugador}}</span>
            </span>
            <a [routerLink]="['/destino/', destino.nom]">Ver detalle</a>
    </div>
</div>
