<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value, fg.controls['ced'].value, fg.controls['cor'].value, fg.controls['tel'].value, fg.controls['dep'].value)">
    <div class="form-row">
        <div class="col-sm-6 form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" [formControl]="fg.controls['nombre']">
          <ul>
              <li *ngFor="let r of searchResults;">{{r}}</li>
          </ul>
          <div *ngIf="fg.controls['nombre'].hasError('minlong')">nombre invalido</div>
        </div>
        <div class="col-sm-6 form-group">
          <label for="nombre">cedula</label>
          <input type="number" class="form-control" id="cedula" placeholder="Ingrese su numero de cedula" [formControl]="fg.controls['ced']">
          <div *ngIf="fg.controls['ced'].hasError('minlong')">cedula invalida</div>
        </div>
    </div>
    <div class="form-row">

      <div class="col-sm-6 form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su E-mail" [formControl]="fg.controls['cor']"><div *ngIf="fg.controls['cor'].hasError('invalid')">correo invalido</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for="telefono">Telefono</label>
        <input type="number" class="form-control" id="tel" placeholder="Ingrese su numero de telefono" [formControl]="fg.controls['tel']">
        </div>
    </div>  
      <div class="form-row">
        <div class="col-sm-9 form-group">
          <label for="dir">Foto</label>
          <input type="text" class="form-control" id="url" placeholder="Ingrese su foto(direccion url)" [formControl]="fg.controls['url']"><div *ngIf="fg.controls['url'].hasError('required')">url invalida</div>
        </div>
        <div class="col-sm-3 form-group">
          <label for="dep">Departamento</label>
          <select name="" id="dep" class="form-control" [formControl]="fg.controls['dep']"><div *ngIf="fg.controls['dep'].hasError('required')">seleccione departamento</div>
            <option value="antioquia" selected>Antioquia</option>
            <option value="santander">Santander</option>
            <option value="valle">Valle</option>
            <option value="narino">Nariño</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="gridcheck">
          <label for="gridcheck" class="form-check-label">Quiero recibir mas informacion</label>
        </div>
      </div>
    <button class="btn btn-success" type="submit" *ngIf="fg.valid">Guardar!</button>
</form>
