<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
  <div class="page-header">
    <div class="container">
      <h1>Ruteo simple</h1>
      <div class="navLinks">
        <a [routerLink]="['\home']">Home</a>
        <a [routerLink]="['\destino']">Destino</a>
      </div>
    </div>
  </div>
  <div class="jumbotron d-flex principal" style="background-color: black;">
    <img src="https://img.lagaceta.com.ar/fotos/notas/2018/12/26/tmb1_793811_20181226113558.jpg" alt="Logo" class="img-fluid card-img">
  </div>
  <div class="container content" style="text-align: center;">
      <h1 style="margin: 50px;">
        <b> </b>
      </h1>
    <router-outlet></router-outlet>
  </div>
  <hr class="mb-5">
  Fecha:{{ time | async }}
</body>
</html>